#visualization-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
h3 {
  color: #8baaff;
}

.views {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.visualization-section {
  margin-bottom: 6rem;
}

.grid-analysis {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-1-col {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}
